<!-- これは投稿一覧画面 -->



<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<title>Users</title>
</head>
<body>
<%= render 'books/side', books: @books %>
	<!-- book投稿一覧 -->
 <div class="col-xs-9">

	<h2>Users</h2>
	<table class="table table-condensed">
		<tbody>
			<tr>
				<th>image</th>
				<th>name</th>
				<th></th>
			</tr>
			<!-- books変数内から一つずつ取り出しbook変数へ -->
			<% @users.each do |user| %>
			<!-- bookとひもついているユーザーの画像データを表示させる -->
			<tr><td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg", size:'40x40' %></td>

				<!-- タイトルにリンク付けする -->
				<td><%= user.name %></td>
				<!-- bodyを表示 -->
				<td><%= link_to "show", user_path(user) %>
				</td>
			</tr>
			<% end %>
		</table>
	</td>
</tbody>
</table>
</div>
<!-- book投稿一覧ここまで -->



<footer>


</footer>
</body>
</html>