<!-- わからなすぎてとりあえずコピーしました。 -->


<div class="profile-container">
	<h3 class="profile-name">BOOKS</h3>




</div>
<div class="profile-container">
	<h3 class=profile-name">
<!-- ＊ユーザーネームが表示されませんがとりあえずこのまま進めます -->
		<%= @user.name %></h3>
	<%= image_tag('sample-author1.jpg',class: "img-circle pull-left profile-thumb",style:"width: 100px; height: 100px; margin-top:20px;")%>
</div>

<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
          <div class="masonry-block">
            <div class="block block-image v1">

              <div class="block-image">
                <div class="view view-first">
                  <a href="">
                  </a>
                </div>
              </div>

<!-- ここから入力した。 -->
<!-- book投稿一覧 -->
	<h1>Books</h1>
	<table>
		<tr>
			<th>Title</th>
			<th>Option</th>
			<th colspan="3"></th>
		</tr>
		<tbody>
<!-- ここまで入力した -->


                  <a href="#"><i class="fa fa-map-marker"></i> ショップ名</a>
                </h3>
                <ul class="inline-meta">
                  <li>By
                    <a href="#">投稿者名</a>
                  </li>
                  <li>
                    <a href="#">23 コメント</a>
                  </li>
                  <li>
                    <a href="#">削除</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
