* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
    isplay: block;
    margin-top: 0em;
}

body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    width:700px;

    a:link {color:black; }
    a:visited { color:#666;}
    a:hover { color:white; background-color:black; }
    a:active { color:black; }

}

tbody{
	width: 100%;
  	max-width: 800px;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}


tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


footer{
	margin-top:30px;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

label {
    display: block;
    cursor: default;
}

a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}


div.field,div.actions {
    margin-bottom: 10px;
}


div {
    display: block;
}


alert_alert-danger{
 background-color: red;
 padding: 2px;
}

